header {
  flex: 0 1 100px;
  padding: map-get($spaces, sm);
  margin-bottom: map-get($spaces, sm);
}

.page-title {
  margin-top: 0;
  a {
    text-decoration: none;
    color: map-get($colors, theme);
  }
}