main {
  flex: 1 0 auto;  
}

footer {
  margin: map-get($spaces, md) map-get($spaces, sm);
}

.container {
  width: auto;
  margin-top: 0;
  margin-left: map-get($spaces, sm);
  margin-right: map-get($spaces, sm);
  margin-bottom: map-get($spaces, sm);
}

.sidebar-layout {
  display: flex;
  height: calc(100vh - 186px);
}

.sidebar-nav {
  width: 260px;
  display: inline-flex;
  flex-flow: column nowrap;
  max-height: 100%;
  overflow-y: scroll;
}

.sidebar-link {
  margin-bottom: map-get($spaces, xs);
  padding: map-get($spaces, sm) * 1.5;
  font-weight: bold;

  border-right-width: 3px;
	border-right-style: solid;
  border-color: transparent;

  transition: border-color 250ms;
  
  &.active,
  &:hover {
    color: map-get($colors, theme);
    text-decoration: none;
    border-color: map-get($colors, theme);
    transition: border-color 250ms;
  }
}

.sidebar-content {
  padding: map-get($spaces, sm) map-get($spaces, md);
  width: calc(100vw - 280px);
  display: inline-flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
}

.sketch {
  margin-left: auto;
  margin-right: auto;
}

.code-wrapper {
  max-width: 720px;
  margin: 0 auto !important;
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -map-get($spaces, xs);
}

@mixin makeGridColumns($columns: 12, $gutter: map-get($spaces, xs)) {
  @for $i from 1 through $columns {
    $width: ( $i / 12 ) * 100 * 1%;
    .col-#{$i} {
      flex-basis: 100%;

      @media screen and (min-width: 768px) {
        flex-basis: calc(#{$width} - #{2 * map-get($spaces, xs)});
        margin: 0 map-get($spaces, xs);
      }
    }
  }
}

@include makeGridColumns();
